* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
/* nav-bar */
.nav-bar {
  height: 7vh;
  background: rgb(26, 164, 164);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.nav-bar .nav-left {
  font-size: 1.2rem;
  font-weight: bold;
}
ul {
  display: flex;
  gap: 25px;
}
li {
  list-style: none;
}
li:hover {
  transition: color 0.3s;
  color: blue;
}
.icon-nav {
  display: none;
  font-weight: 600;
}

/* hero */

.hero {
  height: 60vh;
  background: aquamarine;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hero .text {
  font-size: 4vw;
  text-transform: uppercase;
  font-style: italic;
}
@media (max-width: 800px) {
  .hero .text {
    font-size: 10vw;
  }
}

.hero .text:hover {
  transition: all 1.5s linear;
  transform: scale(0.6);
  color: rgb(48, 48, 187);
}
.anime {
  width: 47vw;
  display: flex;
  justify-content: space-between;
}
.anime .left,
.right {
  height: 15px;
  width: 10px;
  background: red;
  animation: animate 2s linear 0s infinite alternate;
}

@keyframes animate {
  100% {
    width: 300px;
  }
}

/* courses */
.course-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7vh;
  background: rgb(167, 72, 72);
  font-size: 1.7rem;
  text-transform: capitalize;
}

.course-main {
  /* height: 70vh; */
  /* background-color: rgb(181, 181, 67); */
  background: linear-gradient(to right, red, blue);
}

iframe {
  border: 1px solid;
  height: 200px;
  width: 400px;
}

@media screen and (max-width: 508px) {
  ul {
    display: none;
  }
  .icon-nav {
    display: block;
  }
}

@media (max-width: 876px) {
  /* .course-main {
    height: 200vh;
  } */

  iframe {
    width: 70vw;
    height: 20vh;
  }
}
.course-main {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  gap: 40px;
  flex-wrap: wrap;
  padding: 15px;
}
.show-case {
  height: 600px;
  display: flex;
  justify-content:space-around;
  align-items: center;
  background-color: black;
}
.box {
  height:32vw;
  width:32vw;
  border: 2px solid aqua;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  animation: mover 4s linear 0s infinite alternate;
}
.box div {
  border-radius: 50%;
  border: 2px solid;
  height: 50px;
  width: 50px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid white;
}

.box1 {
  top: -20px;
  /* background-color:red; */
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8RPrajC-C5Jqj3VOaHIT2xCrA5EoVxckTzhTuNXlCUA&s");
  background-size: cover;
}
.box2 {
  bottom: -20px;
  background-color: blue;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwdOPSU8ZvGs4ZvCIg4fgxRJXg5W1RcEOplXBwH3uxjQ&s");
  background-size: cover;
  background-position: center;
}
.box3 {
  left: -20px;
  background-color: green;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTN7x3aMu7ftyHTYpQ_49MmeGVstu_IMQNIH9KAOZ1i0g&s");
  background-size: cover;
  background-position: center;
}
.box4 {
  right: -20px;
  background-color: aqua;
  background-color: green;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8RPrajC-C5Jqj3VOaHIT2xCrA5EoVxckTzhTuNXlCUA&s");
  background-size: cover;
  background-position: center;
}

@media (max-width:1064px) {
  .show-case{
    flex-direction: column;
  }
}

.show-case-head {
 
  height: 8vh;
  color: white;
  font-size: 3vw;
}

@keyframes mover {
  0% {
  }

  100% {
    rotate: 360deg;
  }
}
